/* 鼠标指针图标bynote.cn */

* {
  cursor: url(../cursor/a11.cur),
    auto;
}

body {
  cursor: url(../cursor/a11.cur),
    auto;
}

/*a标签*/

a:hover {
  cursor: url(../cursor/a22.cur),
    auto;
}

/*按钮*/

button:hover {
  cursor: url(../cursor/a22.cur),
    auto;
}

#rightside > div > button,
#rightside > div > a {
  display: block;
  margin-bottom: 2px;
  width: 30px;
  height: 30px;
  color: var(--btn-color);
  text-align: center;
  font-size: 16px;
  cursor: url(../cursor/a22.cur),
    auto;
}

/* 文章标签 */

.layout_post .tag_share .post-meta__tags {
  cursor: url(../cursor/a22.cur),
    auto;
}

/* 评论区 */

.vcol * {
  cursor: url(../cursor/a22.cur),
    auto;
}

.v[data-class="v"] .vicon {
  cursor: url(../cursor/a22.cur),
    auto;
}

.v[data-class="v"] .vbtn {
  cursor: url(../cursor/a22.cur),
    auto;
}

/* 回复 */

.vat {
  cursor: url(../cursor/a22.cur),
    auto;
}

/*i标签*/

i:hover {
  cursor: url(../cursor/a22.cur),
    auto;
}

/*up酱*/

#upj:hover {
  cursor: url(../cursor/a22.cur),
    auto;
}

/*分页器*/

#pagination .page-number:hover {
  cursor: url(../cursor/a22.cur),
    auto;
}
/* 分页器的三个点(...) */
.space {
  color: #00c4b6;
}
